body {
    background-color:#2F4739;
    color:#D4E2DA;
}

h1, h2 {
    font-family:monospace;
    font-size:28px;
}

p, li {
    font-family:monospace;
    font-size:18px;
    margin-right:50px;
}

.aseul {
    color:#95F49A;
    font-weight:bold;
}

#reflection {
    align-items:center;
    border:2px dotted #D4E2DA;
    padding:15px;
    margin-left:200px;
    margin-right:200px;
    border-radius: 15px;
    color:#95F49A
}